/*
Dark blue colors    Light blue colors           Gray

#052051                 #757FB2                 #343A40
#072B61                 #AAB2D5                 #495057
#0A3871                 #E9ECF8                 #868E96
#356EA9                 #EFF1FA                 #ADB5BD
#609ED4                 #F3F5FC                 #CED4DA
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: 'Inter', Tahoma;
}

body{
    background-color: #F3F5FC;
    height: 100vh;
    display: block;
    font-family: 'Inter', Tahoma;    
}

body::before{
    content: "";
    display: block;
}

main{    
    display: flex;
    margin: 5px;
    padding: 5px;
    width: auto;       
}

section{
    width: 70%;
    padding-right: 5px;
}

aside{        
    width:30%;    
    padding-left: 5px;    
}

header, footer{
    height: 96px;
    text-align: center;    
}

header, footer{
    padding: 10px;
    margin: 10px;
}

header h1{
    font-weight: bold;
    color: #0A3871;
    font-size: 1.5rem;
    margin: 15px;
    padding: 10px;
}

section div button, section div textarea, section div p, aside div img, aside div button{
    width: 100%;
}

section div:last-child
{
    display: flex;
    gap: 8px;    
}

section textarea{               
    height: 45vh;
    border: none;
    background: none;
    resize: none;
}

section textarea, section textarea::placeholder{
    font-size: 32px;
    color: #0A3871;       
}

.warning::before{     
    display: inline-block;   
    content: "!";
    border-radius: 50%;
    border: 1px solid #67808E;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    background: #67808E;
    font-weight: bold;        
}

section div p{
    font-size: 12px;
    line-height: 18px;
    color: #495057;
}

section div button, aside div button{        
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 24px;
    font-size: 16px;
    margin: 10px auto;        
}


.encriptar{
    background: #0A3871;
    color: #FFFFFF;

}

.desencriptar{
    background: none;
    color: #0A3871;
}

.encriptar, .desencriptar{
    cursor: pointer;
}


.sin-mensaje, .con-mensaje{
    border: none;
    background: #FFFFFF;
    border-radius: 32px;        
    padding: 32px;      
    text-align: center;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
    height: 100%;
}

.sin-mensaje p{
    font-weight:700;
    font-size: 24px;
    line-height: 28.8px;
    padding-bottom: 20px;
}

.sin-mensaje p:last-child{        
    font-weight:400;
    font-size: 16px;
    line-height: 24px;        
}

.con-mensaje p{
    margin-bottom: 20px;
    font-size: 24px;
    height: 85%;
}

.con-mensaje button{
    margin: 0;
    
}

footer{        
    background-color: #495057;
}

footer p{        
    font-weight: bold;
    color: #FFFFFF;
    font-size: .7rem;
    padding: 10px;
    margin: 15px;
}

@media screen and (max-width: 480px) {

    
    main{
        display: block;
    }
    section, aside{    
        display: block;    
        width: 100%;
        height: auto;
    }

    section div:not( section div:first-child)    
    {
        display: block;    
    }

    .sin-mensaje img{
        display: none;
    }
    
}

@media screen and (min-width:481px) and (max-width:768px){       

    main{
        display: block;
    }
    section, aside{  
        display: block;          
        width: 100%;
        height: auto;
    }

    .sin-mensaje img{
        display: none;
    }
}

